<section class='lib' id='oms_blok1'>
  <h2 class='art'>Calculator quadratic equations</h2>
  <div class='calcfr' id='frtabl' style='text-align:center;'>
    <input id='oms_c1' size='2' tabindex='1' class='frc'>
    <span class='oms_formula'>x</span><sup>2</sup>&nbsp;+&nbsp;
    <input id='oms_c2' size='2' tabindex='2' class='frc'>
    <span class='oms_formula'>x</span>&nbsp;+&nbsp;
    <input id='oms_c3' size='2' tabindex='3' class='frc'>&nbsp;=&nbsp;0
    <p><input onclick='oms_solve_qe()' tabindex='4' type='button' value='Solve the quadratic equation' title='Solve the quadratic equation'></p>
  </div>
</section>

<section class='lib' id='oms_blok1'>
  <h2 class='art'>Calculator linear equations</h2>
  <div class='calcfr' id='frtabl' style='text-align:center;'>


    <input id='oms_c1' size='2' tabindex='1' class='frc'>
    <span class='oms_formula'>x</span>&nbsp;+&nbsp;

    <input id='oms_c3' size='2' tabindex='3' class='frc'>&nbsp;=&nbsp;0
    <p><input onclick='oms_solve_qe()' tabindex='4' type='button' value='Solve the linear equation' title='Solve the linear equation'></p>

  </div>
</section>



<br>

<section class='lib' id='oms_blok1'>
  <h2 class='art'>Calculator linear equations</h2>
  <div class='calcfr' id='frtabl' style='text-align:center;'>


  <%= form_tag(button_solve_linear_equation_solve_index_path, method: "post") do %>
    <%= text_field_tag(:a) %>
    <span class='oms_formula'>x</span>&nbsp;+&nbsp;
    <%= text_field_tag(:b) %>&nbsp;=&nbsp;0
    <p><%= submit_tag("Solve the linear equation") %></p>
  <% end %>

  </div>
</section>
