/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.art{
    text-align:center;
    color:#00f
}

div.calc,div.calcfr,div.calcfr1{
    background:#ddd;
    border-radius:10px;
    box-shadow:0 5px 5px #909090,0px 0 5px #f2f2f2;
    padding:1.5em 4% 1.7em;
    margin:auto
}
div.calcfr{
    width:60%
}
div.calcfr1{
    width:250px
}

.oms_formula,.oms_vector{
    font-family:MJI;
    font-size:1.2em;
    display:inline
}

